/*
    Esquema de cores
    
    #66120A fonte / escuro +
    #662E29  / escuro
    #B31F12  / menos escuro
    #E62A18  / vermelho
    #EA695E fundo / claro

*/

body {
    background: url('../img/00-featured-gesture-drawing-sketches.jpg') no-repeat center center fixed;

    background-size: cover;
}

.divfoto {
    padding-right: 15px;    
    padding-left: 15px;
}

.imagemperfil {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

@media (max-width:500px){
    .imagemperfil {
        width: 100px;
        height: 100px;
    }
}
