@{
    ViewBag.Title = "Sobre";
}

<div class="p-3 mt-5 m-1 mr-2 card bg-light" style="border-radius: 5px 5px 20px 20px;">
    <h2 class="text-center mb-5 mt-5">Sobre o @Html.ActionLink("Gesture GO", "Index", "Home")</h2>
    <p>Gesture Go. Tal solução foi desenvolvida pelos estudantes da Faculdade de Tecnologia de São Paulo (FATEC): Gabriel Augusto, Guilherme Rocha, e Valério Luz durante o curso de Análise e Desenvolvimento de Sistemas, com base nos conhecimento aprendidos em diversas disciplinas dos curso</p>
    <p>O projeto Gesture Go vem a trazer uma ferramenta de estudo de uma prática de ilustradores, chamada de gesture drawing (desenho gestual), onde a principal função é a prática de desenho gestual a partir de imagens  que irão ser ilustradas em um certo determinado tempo (de 30 segundos a 2 minutos)</p>
    <p>Substituir o modo antigo de se praticar o desenho gestual(com revistas, e muitas vezes modelo vivo) , além de trazer mais uma novo ambiente web de estudo de desenho gestual, com novas funcionalidades nas quais a concorrência não possui</p>
</div>