@{
    ViewBag.Title = "Sobre";
}

<div class="p-3 m-1 mr-2 card bg-light" style="border-radius: 5px 5px 20px 20px;">
    <h2>Home</h2>
    <div><br /></div>
    <div><br /></div>
    <div><br /></div>
</div>