@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Gesture Go que é um ambiente de desenhos gestuais para que sejam melhor desenvolvidas suas habilidades de desenhos e além da comunicação com outros artistas e assim poder aprimorar suas habilidades com base nas dos demais usuários.</p>
