
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="card text-right m-0 p-1"><i class="bi bi-person-fill">Perfil</i></h1>

<div class="row mt-5">
    <div class="divfoto">
        <img class="imagemperfil img-thumbnail" src="http://www.rachegebran.com.br/wp-content/uploads/perfil.jpg" alt="imagem de perfil" />
    </div>
    <div class="col">
        <input class="form-control mt-5" readonly type="text" />
        <button type="button" class="btn btn-warning mt-5 text-white">Mudar senha</button>
    </div>
</div>
