@model IEnumerable<Gesture_Go_v1.Models.Posts>

@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 mb-3p-3 m-1 ml-2 card bg-light shadow" style="border-radius: 5px 5px 5px 5px;">

        Progresso

</div>

<table class="table">

    @foreach (var item in Model)
    {

        <div class="col-12">
            <div class="card  mb-3 shadow">
                <div class="card-header">
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                    @Html.DisplayFor(modelItem => item.data, new { @class = "float-right" })
                </div>
                <div class="card-body text-secondary">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Pos_Titulo)</h5>
                    <hr />
                    <div class="col-12 ">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <img src="~/Uploads/@item.Pos_imgUpload?@DateTime.Now.ToString("yyyyMMddHHmmss")" class="zoom-dark " style="border-radius: 5px 0px 0px 5px; width: 30%;" />
                                    <img src="~/Imagens/@item.Imagem.Img_nome?@DateTime.Now.ToString("yyyyMMddHHmmss")" class=" zoom-dark" style="border-radius: 0px 5px 5px 0px; width: 30%; " />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                Comentários
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</table>

<script src="~/Scripts/medium-zoom.min.js"></script>
<script>
    mediumZoom('.zoom-dark', {
        background: '#000',
        margin: 50
    })
</script>